NODE_ENV='dev'
PORT=3000

DB_HOST='localhost'
DB_PASSWORD='secret'
DB_USERNAME='user'
DB_NAME='dbname'
DB_PORT=3306

SESSION_SECRET=sessionsecret
API_ACCESS_TOKEN_KEY=apiaccesssecret1
REFRESH_ACCESS_TOKEN=apiaccesssecret2